<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Tag1:</strong>
  <%= @project.tag1 %>
</p>

<p>
  <strong>Tag2:</strong>
  <%= @project.tag2 %>
</p>

<p>
  <strong>Tag3:</strong>
  <%= @project.tag3 %>
</p>

<p>
  <strong>Tag4:</strong>
  <%= @project.tag4 %>
</p>

<p>
  <strong>Tag5:</strong>
  <%= @project.tag5 %>
</p>

<p>
  <strong>Tag6:</strong>
  <%= @project.tag6 %>
</p>

<p>
  <strong>Tag7:</strong>
  <%= @project.tag7 %>
</p>

<p>
  <strong>Tag8:</strong>
  <%= @project.tag8 %>
</p>

<p>
  <strong>Tag9:</strong>
  <%= @project.tag9 %>
</p>

<p>
  <strong>Tag10:</strong>
  <%= @project.tag10 %>
</p>

<p>
  <strong>Place:</strong>
  <%= @project.place %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Member:</strong>
  <%= @project.member %>
</p>

<p>
  <strong>Job:</strong>
  <%= @project.job %>
</p>

<p>
  <strong>Skill description:</strong>
  <%= @project.skill_description %>
</p>

<p>
  <strong>Skill tag1:</strong>
  <%= @project.skill_tag1 %>
</p>

<p>
  <strong>Skill tag2:</strong>
  <%= @project.skill_tag2 %>
</p>

<p>
  <strong>Skill tag3:</strong>
  <%= @project.skill_tag3 %>
</p>

<p>
  <strong>Skill tag4:</strong>
  <%= @project.skill_tag4 %>
</p>

<p>
  <strong>Skill tag5:</strong>
  <%= @project.skill_tag5 %>
</p>

<p>
  <strong>Skill tag6:</strong>
  <%= @project.skill_tag6 %>
</p>

<p>
  <strong>Skill tag7:</strong>
  <%= @project.skill_tag7 %>
</p>

<p>
  <strong>Skill tag8:</strong>
  <%= @project.skill_tag8 %>
</p>

<p>
  <strong>Skill tag9:</strong>
  <%= @project.skill_tag9 %>
</p>

<p>
  <strong>Skill tag10:</strong>
  <%= @project.skill_tag10 %>
</p>

<p>
  <strong>Owner pic url:</strong>
  <%= @project.owner_pic_url %>
</p>

<p>
  <strong>Pic position:</strong>
  <%= @project.pic_position %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @project.vision %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
